@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047;
    box-sizing: border-box;
}

.page {
    background-color: #023047;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.form__login {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px;
    border-radius: 7px;
    gap: 5px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
}

.form__login h1 {
    font-size: 2.3rem;
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.form__login p {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.fields  {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all linear 160ms;
    outline: none;
    box-sizing: border-box;
    width: 100%;
}
.fields:focus {
    border: 1px solid #1e3d94;
}

.form__login label {
    font-size: 14px;
    font-weight: 500;  
    margin-bottom: 5px;  
}

.password__container {
    position: relative;
}


.password__container .bi-eye-slash-fill {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


/* Define the lnr-eye-off class */
.bi-eye-fill {
    content: U+F33E; /* Use the appropriate Unicode for the 'eye-off' icon */
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


.form__login a {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.form__login a:hover {
    color: #1e3d94;
}


.btn {
    background-color: #1e3d94;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
    padding: 15px;
    border-radius: 5px;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #023047;
}

.copywrite {
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-top: 10px;
}
